img {
  width: 100%;
  height: auto;
}

/* .flex_row {
  display: flex;
  gap: 30px;
} */



.grid_seasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flex_seasons {
  display: flex;
  align-items: center;
}
.flex_seasons img {
  width: 35%;
}

.seasons_div h2 {
  margin-bottom: 30px;
}

.landscapes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.landscapes h2 {
  margin-bottom: 30px;
}

.topRow, .bottomRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
