img {
  width: 100%;
  height: auto;
}

/* .flex_row {
  display: flex;
  gap: 30px;
} */

@media (min-width: 800px) {
  .grid_herb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .herb_name {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
  }
  .herb_image {
    width: 60%;
  }
  .place_herb_image {
    display: grid;
    order: -1;
    grid-row: 1 / span2;
    place-items: center;
  }
  .flex_places {
    display: flex;
    justify-content: space-between;
  }
  .seasons_div {
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

.grid_seasons {
  width: 50%;
}

.landscapes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.topRow, .bottomRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.section_luft {
  padding: 50px 20px 50px 20px;
}

/****** SLIDESHOW ******/
.slideshow_container {
  position: relative;
  max-width: 700px;
  margin: auto;
}
.slide {
  display: none;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.hide {
  display: none;
}
