/* Farver og fonte */
:root {
    --backgroundColor: #FFFCF0; 
    --lysGrøn: #DBE8BD;
    --mørkGrøn: #2B3E1E; 
    --rødBrun: #945E5CB3; 
}

@font-face {
    font-family: 'Montaga';
    src: url(../fonts/Montaga-Regular.woff2);
}

/* Generel styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroundColor);
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.headerFill {
    background-color: var(--lysGrøn);
    height: 100px;
    position: sticky;
    top: 0;
}

h1 {
    font-family: 'Montaga';
    font-size: 70px;
    color: var(--mørkGrøn);
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-family: 'Montaga';
    font-size: 40px;
    color: var(--mørkGrøn);
    text-align: center;
    margin-top: 50px;

}

a {
    text-decoration: none;
}

/* Questions */

.questionsVh {
    height: 100vh;
}
#secondQuestion, #thirdQuestion {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}
.answerBox {
    background-color: var(--mørkGrøn);
    color: var(--backgroundColor);
    font-family: 'Montaga';
    font-size: 20px;
    text-align: center;
    padding: 20px 45px;
    border-radius: 10px;
}
.answerBox:hover, #resultBtn:hover {
    transform: scale(1.03);
    transition: .2s;
    cursor: pointer;
}

#thirdQuestion .answers a:nth-child(1) {
    color: #9ED6FF;
}
#thirdQuestion .answers a:nth-child(2) {
    color: #FDFF9F;
}
#thirdQuestion .answers a:nth-child(3) {
    color: #A5FE7C;
}
#thirdQuestion .answers a:nth-child(4) {
    color: #D089F2;
}

#resultBtn {
    margin: auto;
    width: fit-content;
    margin-top: 200px
}
#resultBtn .answerBox {
    font-size: 22px;
    background-color: var(--rødBrun);
}

.chosen {
    background-color: var(--rødBrun);
}